<footer>
  <div class="footer">
    <div>
      <h3 class="fonts">FITSPACE S.R.L.</h3>
      <p>sede legale: Milano (MI) via G.Verdi 2</p>
      <p>sede operativa: Fano (PU) via Flaminia 25/E</p>
    </div>
    <div class="fonts">
      <p>stay strong.</p>
      <p>get stronger!</p>
    </div>
    <div class="icons">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <i class="fa-brands fa-instagram"></i>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <i class="fa-brands fa-youtube"></i>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <i class="fa-brands fa-twitter"></i>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <i class="fa-brands fa-facebook"></i>
      </button>
    </div>
  </div>
</footer>
