<div class="mat-app-background">
  <app-toolbar [toggleDrawerFn]="drawer.toggle.bind(drawer)" [isLargeScreen]="isLargeScreen"></app-toolbar>
  <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="over">
      <div class="sidenav">
        <div class="log-sig">
          <button *ngIf="!isLogged" mat-button routerLink="/signup">REGISTRATI</button>
          <button *ngIf="!isLogged" mat-button routerLink="/login">ACCEDI</button>
          <button *ngIf="isLogged" mat-button routerLink="/user">PAGINA PERSONALE</button>
        </div>
        <div *ngIf="!isLargeScreen" class="icons">
          <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <i class="fa-brands fa-instagram"></i>
          </button>
          <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <i class="fa-brands fa-youtube"></i>
          </button>
          <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <i class="fa-brands fa-twitter"></i>
          </button>
          <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <i class="fa-brands fa-facebook"></i>
          </button>
        </div>
      </div>
    </mat-drawer>

    <div class="example-sidenav-content">
      <main>
        <router-outlet></router-outlet>
      </main>
    </div>

  </mat-drawer-container>
  <app-footer></app-footer>
</div>
<!-- <div *ngIf="isLargeScreen">Questo viene mostrato solo su schermi grandi</div>
<div *ngIf="!isLargeScreen">Questo viene mostrato solo su schermi piccoli</div> -->

